i.collect {
  display: inline-block;
  width: .3rem;
  height: .28rem;
  background: url("../images/collect.png?v=434e4b");
  background-size: 100%; }

i.ltc {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../images/ltc.png?v=434e4b");
  background-size: 100%; }

i.etc {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../images/etc.png?v=434e4b");
  background-size: 100%; }

i.xmr1 {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../images/xmr1.png?v=434e4b");
  background-size: 100%; }

i.eth {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../images/eth.png?v=434e4b");
  background-size: 100%; }

i.xlm {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url("../images/xlm.png?v=434e4b");
  background-size: 100%; }

i.add {
  display: inline-block;
  width: .39rem;
  height: .29rem;
  background: url("../images/add.png?v=434e4b");
  background-size: 100%; }

i.fall {
  display: inline-block;
  width: .38rem;
  height: .28rem;
  background: url("../images/fall.png?v=434e4b");
  background-size: 100%; }

i.work {
  display: inline-block;
  width: .30rem;
  height: .31rem;
  background: url("../images/work.png?v=434e4b");
  background-size: 100%; }

i.deal {
  display: inline-block;
  width: .33rem;
  height: .30rem;
  background: url("../images/deal.png?v=434e4b");
  background-size: 100%; }

i.info {
  display: inline-block;
  width: .29rem;
  height: .31rem;
  background: url("../images/info.png?v=434e4b");
  background-size: 100%; }

i.user {
  display: inline-block;
  width: .29rem;
  height: .29rem;
  background: url("../images/user.png?v=434e4b");
  background-size: 100%; }

i.hk {
  display: inline-block;
  width: .54rem;
  height: .38rem;
  background: url("../images/hk.png?v=434e4b");
  background-size: 100%; }

i.en {
  display: inline-block;
  width: .54rem;
  height: .36rem;
  background: url("../images/en.png?v=434e4b");
  background-size: 100%; }

i.icon-back {
  display: inline-block;
  width: .22rem;
  height: .24rem;
  background: url("../images/back.png?v=434e4b");
  background-size: 100%; }

i.icon-login {
  display: inline-block;
  width: .28rem;
  height: .31rem;
  background: url("../images/icon-record.png?v=434e4b");
  background-size: 100%; }

i.icon-safe {
  display: inline-block;
  width: .26rem;
  height: .30rem;
  background: url("../images/icon-safe.png?v=434e4b");
  background-size: 100%; }

i.icon-google {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url("../images/icon-google.png?v=434e4b");
  background-size: 100%; }

i.icon-circle-ipone {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url("../images/circle-ipone.png?v=434e4b");
  background-size: 100%; }

i.icon-key-green {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url("../images/key-green.png?v=434e4b");
  background-size: 100%; }

i.icon-key-yellow {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url("../images/key-yellow.png?v=434e4b");
  background-size: 100%; }

i.icon-email {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url("../images/email.png?v=434e4b");
  background-size: 100%; }

i.icon-passHide {
  display: inline-block;
  width: .26rem;
  height: .26rem;
  background: url("../images/icon-passHide.png?v=434e4b");
  background-size: 100%; }

i.icon-passShow {
  display: inline-block;
  width: .26rem;
  height: .26rem;
  background: url("../images/icon-passShow.png?v=434e4b");
  background-size: 100%; }

i.icon-seach {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("../images/seach.png?v=434e4b");
  background-size: 100%; }

i.icon-cz {
  display: inline-block;
  width: .30rem;
  height: .31rem;
  background: url("../images/icon-cz.png?v=434e4b");
  background-size: 100%; }

i.icon-meun {
  display: inline-block;
  width: .30rem;
  height: .25rem;
  background: url("../images/icon-muen.png?v=434e4b");
  background-size: 100%; }

.color-red {
  color: #FE3B5F !important; }

.color-yellow {
  color: #E7BF3A !important; }

.color-blue {
  color: #3064CB !important; }

.color-bule-light {
  color: #8b9ed5 !important; }

.color-bule-light2, .color-bule-light2 span {
  color: #2c62da !important; }

.btn-red, .btn-blue, .btn-blueBig, .btn-redBig, .btn-submit {
  width: 1.44rem;
  height: 0.48rem;
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.48rem;
  background: #fd3a5e;
  display: inline-block;
  border-radius: .05rem; }

.btn-blue {
  background: #3064cb; }

.btn-blueBig {
  background: #3064cb;
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  text-align: center; }

.btn-redBig {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  background: #fe3b5f; }

.btn-submit {
  width: 100%;
  font-size: .3rem;
  line-height: .8rem;
  height: .8rem;
  background: #3064cb;
  margin-top: .6rem; }

.btn-border {
  width: 1.8rem;
  height: .56rem;
  border: 1px solid #2d60c6;
  line-height: .56rem;
  text-align: center;
  border-radius: .1rem;
  color: #2d60c6; }

.twoLine {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all; }

.oneLine {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all; }

.mar-top3 {
  margin-top: .3rem; }

.mar-top2 {
  margin-top: .2rem; }

.allow-top:after {
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  border-bottom: 0.1rem solid #27325c;
  content: "";
  position: absolute;
  width: 0;
  top: -0.1rem;
  right: .2rem; }

.center-title {
  width: 100%;
  height: 0.88rem;
  text-align: center;
  line-height: .88rem;
  color: #fff; }

.none {
  display: none; }

.row {
  display: block;
  line-height: .60rem;
  text-align: center; }

.row input[type="checkbox"] {
  display: none; }

.row input[type="checkbox"] + label {
  display: inline-block;
  width: .80rem;
  height: .42rem;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row .radio-box + label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: .8rem;
  height: .42rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }

.row .radio-box + label {
  background: #ddd;
  border-radius: .1rem; }

.row .radio-box + label:after {
  background: #fff;
  width: .36rem;
  height: .36rem;
  border-radius: .1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: .03rem; }

.row .radio-box:checked + label.bule {
  background: #2d60c6; }

.row .radio-box:checked + label.bule:after {
  background: #111938; }

.row .radio-box:checked + label:after {
  left: calc(100% - .39rem); }

.nav-meunBox .content-box .nav-meun {
  width: 100%;
  height: .88rem; }
  .nav-meunBox .content-box .nav-meun ul {
    width: 100%; }
    .nav-meunBox .content-box .nav-meun ul li {
      width: 50%;
      height: 100%;
      float: left;
      text-align: center;
      font-size: .3rem;
      color: #898990;
      line-height: .88rem; }
      .nav-meunBox .content-box .nav-meun ul li span {
        position: relative; }
    .nav-meunBox .content-box .nav-meun ul li.active {
      color: #FCE700; }
      .nav-meunBox .content-box .nav-meun ul li.active span::after {
        content: "";
        width: 100%;
        height: .04rem;
        background: #FCE700;
        position: absolute;
        bottom: -.23rem;
        left: 0; }

.nav-meunBox .content-box .nav-meun.three {
  width: 100%;
  height: .88rem; }
  .nav-meunBox .content-box .nav-meun.three ul {
    width: 100%; }
    .nav-meunBox .content-box .nav-meun.three ul li {
      width: 33%;
      height: 100%;
      float: left;
      text-align: center;
      font-size: .3rem;
      color: #898990;
      line-height: .88rem; }
      .nav-meunBox .content-box .nav-meun.three ul li span {
        position: relative; }
      .nav-meunBox .content-box .nav-meun.three ul li:nth-last-child(1) {
        width: 34%; }
    .nav-meunBox .content-box .nav-meun.three ul li.active {
      color: #FCE700; }
      .nav-meunBox .content-box .nav-meun.three ul li.active span::after {
        content: "";
        width: 100%;
        height: .04rem;
        background: #FCE700;
        position: absolute;
        bottom: -.23rem;
        left: 0; }

.nav-meunBox .content-box .content-box {
  width: 100%;
  padding: .3rem; }
  .nav-meunBox .content-box .content-box .list {
    font-size: .22rem;
    width: 100%;
    height: .45rem;
    line-height: .45rem;
    padding-left: 1.90rem;
    text-align: right;
    position: relative; }
    .nav-meunBox .content-box .content-box .list .title {
      position: absolute;
      left: 0;
      color: #898990; }

.trade-box .left-box {
  width: 47%;
  padding-right: .24rem;
  float: left; }
  .trade-box .left-box .nav-item {
    width: 100%;
    height: 1rem;
    line-height: 1rem; }
    .trade-box .left-box .nav-item ul li {
      width: 50%;
      float: left; }
    .trade-box .left-box .nav-item ul li.num {
      text-align: right; }
  .trade-box .left-box .cotent-box {
    height: 3.6rem;
    width: 100%;
    font-size: .24rem; }
    .trade-box .left-box .cotent-box .cotent-list {
      position: relative; }
      .trade-box .left-box .cotent-box .cotent-list span {
        width: 50%;
        line-height: .44rem;
        height: .44rem;
        float: left; }
      .trade-box .left-box .cotent-box .cotent-list span.price {
        color: #fe3b5f;
        margin: 0; }
      .trade-box .left-box .cotent-box .cotent-list span.num {
        text-align: right; }
  .trade-box .left-box .trans .cotent-list span.price {
    color: #2c62da; }
  .trade-box .left-box .price-mean {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: #fe3b5f;
    font-size: .3rem; }

.trade-box .right-box {
  width: 53%;
  float: right;
  padding: .4rem 0 0 .24rem; }
  .trade-box .right-box .select-box {
    width: 100%;
    height: .92rem;
    position: relative; }
    .trade-box .right-box .select-box::after {
      content: "";
      width: .23rem;
      height: .15rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: .4rem;
      background: url("../images/select.png?v=434e4b");
      background-size: 100%; }
    .trade-box .right-box .select-box select {
      -webkit-appearance: none;
      border: none;
      width: 100%;
      height: 100%;
      background: #1c2753;
      border-radius: .1rem;
      padding-left: .3rem;
      color: #fff;
      font-size: .36rem; }
  .trade-box .right-box .type-box {
    width: 100%;
    height: .8rem;
    border: .04rem solid #FCE700;
    margin-top: .2rem; }
    .trade-box .right-box .type-box .box {
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: .72rem;
      background: #FCE700;
      color: #070814;
      float: left; }
    .trade-box .right-box .type-box .box.active {
      width: 50%;
      color: #FCE700;
      background: #070814; }
  .trade-box .right-box .use-price .title {
    height: .5rem;
    line-height: .5rem;
    margin-top: .1rem;
    font-size: .24rem;
    color: #898990;
    position: relative; }
    .trade-box .right-box .use-price .title span.details {
      position: absolute;
      right: 0;
      color: #fff; }
    .trade-box .right-box .use-price .title .link {
      text-decoration: underline;
      color: #2c62da; }
    .trade-box .right-box .use-price .title .row {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .trade-box .right-box .use-price .desc {
    height: .5rem;
    line-height: .5rem;
    margin-bottom: .1rem;
    font-size: .24rem;
    font-size: .24rem; }
  .trade-box .right-box .btn {
    width: 100%;
    height: .8rem;
    font-size: .3rem;
    line-height: .8rem; }
  .trade-box .right-box .count-box {
    width: 100%;
    padding: 0 .65rem 0 .65rem;
    height: .8rem;
    position: relative;
    border-radius: .1rem;
    overflow: hidden; }
    .trade-box .right-box .count-box input {
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      background: #fff;
      border: none;
      padding-left: .1rem; }
    .trade-box .right-box .count-box span {
      position: absolute;
      width: .65rem;
      height: .8rem;
      background: #1c2753;
      left: 0;
      top: 0; }
    .trade-box .right-box .count-box span.add {
      right: 0;
      top: 0;
      left: auto; }
      .trade-box .right-box .count-box span.add::after {
        content: "";
        position: absolute;
        width: .2rem;
        height: .2rem;
        background: url("../images/icon-add.png?v=434e4b");
        background-size: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        pointer-events: none; }
    .trade-box .right-box .count-box span.reduce::after {
      content: "";
      position: absolute;
      width: .2rem;
      height: .04rem;
      background: url("../images/icon-reduce.png?v=434e4b");
      background-size: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      pointer-events: none; }
  .trade-box .right-box .per-box {
    width: 100%; }
    .trade-box .right-box .per-box .per-list {
      width: .8rem;
      height: .4rem;
      text-align: center;
      line-height: .4rem;
      border-radius: .1rem;
      border: 1px solid #1c2753;
      font-size: .22rem;
      float: left;
      margin-right: .06rem; }
      .trade-box .right-box .per-box .per-list:nth-last-child(1) {
        margin-right: 0rem; }
      .trade-box .right-box .per-box .per-list.active {
        border: 1px solid #2c62da; }

.market-typeBox {
  width: 100%;
  min-height: 2.7rem;
  background: #1c2753;
  border-radius: .1rem;
  padding: .2rem 0; }
  .market-typeBox .content-top {
    width: 100%;
    height: 1.4rem;
    padding: 0 .3rem;
    border-bottom: 0.01rem solid #070814; }
    .market-typeBox .content-top .title {
      font-size: .36rem;
      height: .7rem;
      line-height: .7rem; }
    .market-typeBox .content-top .desc {
      width: 100%;
      height: .5rem;
      font-size: .26rem;
      line-height: .5rem; }
  .market-typeBox .cont {
    padding: .05rem .3rem; }
    .market-typeBox .cont .cont-list {
      height: .5rem;
      line-height: .5rem;
      font-size: .26rem; }
      .market-typeBox .cont .cont-list .title {
        float: left;
        width: 35%;
        text-align: left; }
      .market-typeBox .cont .cont-list .desc {
        float: left;
        width: 46%;
        text-align: right; }
      .market-typeBox .cont .cont-list .num {
        float: left;
        width: 19%;
        text-align: right; }

.map-box {
  width: 100%;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: .24rem;
  background-color: transparent; }

.chart_container.dark .chart_toolbar_tabgroup li a {
  /*color: #1987da*/
  color: rgba(255, 255, 255, 0.3);
  /* font-size: 300; */
  font-size: .24rem !important; }

.chart_container.dark .chart_toolbar_tabgroup li a:hover {
  background-color: #383838; }

.chart_container.dark .chart_toolbar_tabgroup li a.selected {
  /*color: #ffac00*/
  color: white;
  /* font-size: 300; */
  font-size: .24rem !important; }

.submit-box {
  width: 100%;
  height: 1.1rem;
  background: #111938;
  margin-bottom: 1.1rem;
  margin-top: -1.1rem;
  padding: 0 .3rem; }
  .submit-box .btn-blueBig {
    margin-right: .2rem; }
  .submit-box .btn-blueBig, .submit-box .btn-redBig {
    margin-top: 0.15rem;
    width: 3.34rem;
    float: left; }
