@charset 'utf-8';
@import 'cube.css';
@import 'swiper.min.css';
html, body { margin: 0 auto;background: #f5f5f9;font-family: "PingFangSC-Light"}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
/*input[type=checkbox] {visibility: hidden;}*/
.wrapper { height: 100%; width: 750px; margin: 0 auto;position: relative;}
img { width: 100%; }
.clear{clear: both;}
.none{display: none; }    
.swiper-container,.swiper-container-vertical>.swiper-wrapper{width:100%; height: 100%; position: absolute;top:0;left: 0}
.mask{position: fixed;width: 100%;height: 100%;background: #000;opacity: 0.5;z-index: 10;top: 0;left: 0;display: none;}

.ov{overflow: hidden;position: absolute;height: 100%}
.color-red{color: #FF0700;}
.oa8{opacity: .5;}
.mar-r{margin-right: 10px;}
.mar-r2{margin-right: 43%;}
.line{width: 100%;height: 15px;background: #F9F9F9;}
 
/*首页*/
.page-index{background: #fff;}
.page-index .in-swiper{width: 100%;position: relative;padding-top: 40%;}
.page-index .in-main{position: relative;margin-bottom: 50px;}
.page-index .in-main .inmain-header{position: relative;height: 55px;width: 100%;}
.inmain-header .healist{width: 50%;height: 55px;background: #E0F8FE;float: left; color: #06B6F2;font-size: 16px;text-align: center;line-height: 55px;}
.inmain-header .on{background: #06B6F2;color: #fff;}
.in-main .alonelist{height: 260px;width: 50%;float: left;}
.in-main .alonelist:nth-child(2n)::after{border-right:none;}

.in-main .alonelist .aloneimgd{width: 100%;height: 188px;text-align: center;line-height: 188px;display: block;}
.alonelist .aloneimgd img{height: 127px;width: auto;vertical-align: middle;}
.alonelist .alonetitle{width: 80%;height: 25px;overflow: hidden;margin: 0 auto;font-size: 14px;line-height: 16px;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-break: break-all;color: #444444;position: relative;}
.alonelist .alonetitle span{width: 100%;height: 16px;overflow: hidden;margin: 0 auto;font-size: 14px;line-height: 16px;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-break: break-all;color: #444444;}
.alonelist .alonedeta{height: 47px;width: 80%;margin:0 auto;position: relative;}
.alonelist .alonedeta .price{font-size: 12px;color:#444444;width: 100%;margin-top: 6px;}
.alonelist .alonedeta .num{font-size: 12px;color:#B3B3B3;width: 100%;margin-top: 6px;}
.alonelist .alonedeta .bt{width: 44%;height: 30px;color: #fff;position: absolute;background: #06B6F2;text-align: center;line-height: 30px;border-radius: 3px;top: 0px;right: 0px;}
.page-index .footer{height: 50px;width: 100%;background: #fff;position: fixed;bottom: 0; opacity: 0.9;}
.page-index .footer .ftlist{width: 33%;height: 43px;background: #fff;text-align: center;padding-top: 7px;float: left;color: #B3B3B3;}
.page-index .footer .on{color: #06B6F2;}
.footer .ftlist .icon{font-size: 25px; }
.footer .ftlist p{font-size: 9px;line-height: 0;margin-top:2px;}
.swiper-pagination-bullet{background: #fff;opacity: .8;}
.swiper-pagination-bullet-active{background: #007aff;}
.group{background: #fff}
.page-index .grouplist{padding-left: 30%;position: relative;height: 110px;width: 62%;margin-left: 4%;}
.page-index .grouplist .groupimg{width: 80px;height: 80px;position: absolute;left: 0;top:15px; text-align: center;line-height: 80px;}

.page-index .grouplist .groupimg img{height: 71px;width: auto;vertical-align: middle;}
.page-index .grouplist .groupcontent{width: 55%;height: 100%;float: left;}
.page-index .grouplist .group-bt{width: 45%;height: 100%;float: left;}
.grouplist .groupcontent .title{width: 100%;height: 40px;color: #666666;font-size: 14px;line-height: 20px;overflow: hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-break: break-all;margin-top: 12px;}
.grouplist .groupcontent .price{width: 100%;font-size: 12px;height: 14px;line-height: 14px;margin-top: 10px;display: block;}
.grouplist .groupcontent .num{width: 100%;font-size: 12px;height: 14px;line-height: 14px;margin-top: 5px;}
.grouplist .group-bt .bt{width: 72px;height: 34px;line-height: 34px;text-align: center;color: #fff;background: #06B6F2;border-radius: 3px;font-size: 13px;margin: 38px auto 0 auto;}

/*layer*/
.in-layer{width: 100%;height: 200px;background: #fff;position: fixed;bottom: 0;z-index: 11;display: none;}
.in-layer .layer-image{width: 105px;height: 105px;position: absolute;top:-52.5px;left: 15px;background: #fff; border-radius: 6px;text-align: center;line-height: 105px;}
.in-layer .layer-close{font-size: 20px;position: absolute;right: 0px;top:0px;width: 40px;height: 40px;text-align: center;line-height: 40px;}
.in-layer .layer-image img{height: 69px;width: auto;vertical-align: middle;}
.in-layer .layer-image::after{border-radius: 12px;}
.in-layer .layer-title{padding-left: 38%;}
.in-layer .layer-title span{display: block;width: 100%;height: 52.5px;font-size: 18px;text-align: left;line-height: 52.5px;color: #666666;}
.in-layer .layer-content .layer-list{width: 28%;height: 60px;margin-left: 4%;background: #fff;text-align: center;color: #fff; margin-top: 43px;float: left;border-radius: 2px;color: #000;position: relative;display: block;}
.in-layer .layer-content .layer-list::after{border-radius: 6px;}
.in-layer .layer-content .on{background: #06B6F2;color: #fff;}
.layer-content .layer-list .price{width: 100%;font-size: 16px;padding-top: 13px;}
.layer-content .layer-list .num{font-size: 10px;width: 100%;margin-top: 3px;}

/*详情页*/
.page-details{margin-bottom: 60px;background: #fff}
.page-details .in-swiper{width: 100%;position: relative;padding-top: 100%;}
.page-details .swiper-pagination-bullet{background: #D8D8D8}
.page-details .swiper-pagination-bullet-active{background: #007aff;}
.page-details .detalist-main{width: 92%;margin: 0 auto;overflow: hidden;}
.page-details .detalist-main .title{font-size: 16px;overflow:hidden;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-break: break-all;line-height: 25px;margin-top: 15px;}
.page-details .detalist-main .price{margin-top: 15px;color: #FF0700;font-size: 15px;height: 16px;line-height: 16px;}
.page-details .detalist-main .price-date{color: #B3B3B3;margin-top: 15px;padding-bottom: 20px;}
.page-details .detalist-main .express{height: 52px;width: 86%;padding-left: 14%;position: relative;}
.detalist-main .express .ex-text{position: absolute;width: 14%;height: 52px;left: 0;top: 0;line-height: 52px;text-align: left;color: #B3B3B3 ;}
.detalist-main .express .ex-place{line-height: 52px;text-align: left;}
.detalist-main .express .icon-right{position: absolute;font-size: 20px;color: #F0F0F0;right: 0;top: 16px;}
.detalist-main .datelist .datenav{width: 100%;height: 45px;line-height: 45px;}
.datelist .datenav .navlis{width: 33%;height: 45px;color: #B3B3B3;float: left;text-align: center;line-height: 45px;}
.datelist .datenav .navlis:nth-child(3){width: 34%;}
.datelist .datenav .on{color:#FF0700;}
.deta-footer{position: fixed;bottom: 0;height: 60px;left: 0;background: #fff;padding-left: 16%;width: 84%;}
.deta-footer .icond{width:16%;height: 60px;position: absolute;top: 0;left: 0;}
.deta-footer .text{background: #06B6F2;height: 100%;width: 100%;font-size: 16px;text-align: center;line-height: 60px;color: #fff;}

/*支付页面*/
.pay-header{width: 74%;height: 50px;padding-left: 26%;background: #fff;position: relative;}
.pay-header .hea-l{width: 26%;height: 100%;position: absolute;left: 0;top: 0;text-align: center;}
.pay-header .hea-l .icon-st{color: #06B6F2;font-size: 25px;line-height: 33px;}
.pay-header .hea-l .text{color: #06B6F2;font-size:12px; line-height: 10px;}
.pay-header .hea-r{width: 100%;height: 50px;}
.pay-header .hea-r .r-list{width: 23%;float: left;height: 50px;padding-left: 10%;position: relative;}
.list-num{width: 17px;height: 17px;border-radius: 17px;border: 1px solid #06B6F2;text-align: center;line-height: 17px;color:#06B6F2;position: absolute;left: 5px;top: 16px; }
.list-text{color: #666666;margin-top: 10px;line-height: 15px;}
