html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title 上新了，五一口号颁布71周年
    link(href='./image/main.css?v=2',type='text/css',rel='stylesheet')
    link(href='./image/animate.css?v=2',type='text/css',rel='stylesheet')
    link(href='./image/icon_wen.css?v=2',type='text/css',rel='stylesheet')

    script(type="text/javascript",src="./image/rem.js")

  body
    //- audio(src="images/bg.mp3",id="bg",preload="load")
    .wrapper
        .banner
        .nav
          ul
            //- 会议聚焦        会议议程        高清图集        会议资料                         影音集
            li 
             a(href="#") 首页
            li 
             a(href="#") 会议聚焦
            li 
             a(href="#") 会议议程
            li 
             a(href="#") 高清图集
            li 
             a(href="#") 会议资料
            li 
             a(href="#") 影音集

        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a(href="#") 首页
            .swiper-slide
              a(href="#") 会议聚焦
            .swiper-slide
              a(href="#") 会议议程
            .swiper-slide
              a(href="#") 高清图集
            .swiper-slide
              a(href="#") 会议资料
            .swiper-slide
              a(href="#") 影音集

    script(type="text/javascript",src="./image/jquery.min.js?v=2")
    script(type="text/javascript",src="./image/TweenMax.min1.16.1.js?v=2")
    script(type="text/javascript",src="./image/SplitText.min.js?v=2")
    script(type="text/javascript",src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?v=2")
    script(type="text/javascript",src="./image/createjs-2015.11.26.min.js?v=2")

    script(type="text/javascript",src="./image/share.js?v=2")
    script(type="text/javascript",src="./image/loading.js?v=2")
    script(type="text/javascript",src="./image/layer/layer.js?v=2")
    script(type="text/javascript",src="./image/extends.js?v=2")

    script(type="text/javascript",src="./image/main.js?v=2")
