html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title 长江
    link(href='./image/main.css?v=2',type='text/css',rel='stylesheet')
    link(href='./image/swiper.min.css?v=2',type='text/css',rel='stylesheet')

    //- link(href='./image/animate.css?v=2',type='text/css',rel='stylesheet')
    //- link(href='./image/icon_wen.css?v=2',type='text/css',rel='stylesheet')

    script(type="text/javascript",src="./image/rem.js")
    script(type="text/javascript",src="./image/jquery.min.js?v=2")
    script(type="text/javascript",src="./image/swiper.min.js?v=2")
    script(type="text/javascript",src="./image/extends.js?v=2")
    script(type="text/javascript",src="./image/main.js?v=2")
  body
    //- audio(src="images/bg.mp3",id="bg",preload="load")
    .wrapper
        .more-box
            .type-header  会议聚焦
            .item-box
                ul
                    -for(var i=0;i<9;i++)
                        li 
                            a(href="#") 为全面贯彻落实习近平新时代中国
