@import '../../.public/styles/mixins.scss';
@import '../../.public/styles/reset.scss';

#__bs_notify__{
  display: none !important;
}

html,body,main,section{
  width:100%;
  height:100%;
  overflow: hidden;
}

body{
  position: relative;
  font-family: "Microsoft YaHei", "Helvetica", "Heiti SC";
}

section{
  position:absolute;
  top:0;
  left:0;
  z-index: 1;
}

section.active{
  z-index: 2;
}
