@charset "UTF-8";

@import "./public.css";
@import "./swiper.min.css";
@import "./public.scss";

.logo{@include abImg("224px","61px","3","page1/logo.png");left: 62px;top: 68px;}

.bg{width: 100%;height: 100%;@include bgImg("page1/bg.png");}

.icon-sq{@include icon(10px,10px,"page3/icon.png");}

.musicbox{width: 72px;height: 72px;background: #000;opacity: 0.2;border-radius: 50%;position: absolute;top: 20px;right: 20px;z-index: 22;
	.music-bg{width: 58px;height: 58px;position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);background-color:rgba(0,0,0,.5);border-radius: 50%;background-image: url("../images/musicIcon.png") ;background-size: 20px;background-position: center;    background-repeat: no-repeat;}
}

.loading{width: 100%;height: 100%;background: #000;position: absolute;z-index: 9999;
	.loadbox{width: 300px;height: 300px;position: absolute;@include center(300px,300px);text-align: center;
		span{color: #fff;display: block;margin-top: 40px;font-size: 24px;margin-left: 30px;}
		.logo{position: relative;left: 50%;transform:translateX(-50%);display: block;top: 0}
	}
}

.touch-top{@include center(52px,32px,false);@include abImg("52px","32px","999","../images/bottom.png");bottom: 0px;animation-name: sliderNextPage;animation-duration: 1.5s;animation-iteration-count: infinite;display: none;}

.swiper1{width: 100%;height: 100%;
	// .light{@include abImg("100%","1013px","2","page1/light.png");}
	.top-des{position: absolute;right: 58px;top: 103px;@include abImg("195px","25px","3","page1/top-des.png");}
	.title{top: 210px;@include abImg("475px","76px","3","page1/title.png");left: 50%;margin-left: -235.25px;}
	.cn-des{top: 304px;@include abImg("474px","38px","3","page1/cn-des.png");left: 50%;margin-left: -237px}
	.en-des{top: 357px;@include abImg("251px","16px","3","page1/en-des.png");left: 50%;margin-left: -125.5px;}

	.navlist{position: absolute;z-index: 3;width: 263px;height: 255px;}
	.nav-bg1{@include bgImg("page1/nav-bg1.png");top: 378px;left: 50%;margin-left:-131.5px;
		.nav{@include bgImg("page1/nav1.png");@include center(140px,113px);}
	}
	.nav-bg2{@include bgImg("page1/nav-bg2.png");top: 520px;right: 11px;
		.nav{@include bgImg("page1/nav2.png");@include center(139px,89px);}
	}
	.nav-bg3{@include bgImg("page1/nav-bg3.png");top: 784px;right: 73px;
		.nav{@include bgImg("page1/nav3.png");@include center(145px,114px);}
	}
	.nav-bg4{@include bgImg("page1/nav-bg4.png");top: 784px;left: 100px;
		.nav{@include bgImg("page1/nav4.png");@include center(137px,119px);}
	}
	.nav-bg5{@include bgImg("page1/nav-bg5.png");top: 539px;left: 13px;
		.nav{@include bgImg("page1/nav5.png");@include center(118px,102px);}
	}
	.nav-center{@include abImg("182px","113px","3","page1/cloud-center.png");top: 685px;@include center(182px,113px,false);}
	.btn-box{@include abImg("397px","100px","3","page1/btn-bg.png");bottom: 50px;@include center(397px,100px,false);
		.btn-txt{@include abImg("315px","33px","3","page1/btn-txt.png");@include center(315px,33px);margin-top: -6px;margin-left: -146px;z-index: 4;}
	}
}

.swiper2{width: 100%;height: 100%;color: #fff;
	.bg{width: 100%;height: 100%;@include bgImg("page2/bg.png");}
	.title{font-size: 45px;top:208px;@include center(530px,65px,false);z-index: 2;perspective: 400px;/*no*/
		span{font-size: 68px;}
	}
	.txt-box{perspective: 400px;/*no*/top: 300px;position: absolute;@include center(350px,143px,false);}
	.txt{font-size: 25px;text-align: center;line-height: 40px;z-index: 2}
	.title2{font-size: 34px;@include center(547px,65px,false);bottom: 208px;text-align: center;}
	.txt2-div {transform:translateZ(0);}
	.txt2{font-size: 43px;@include center(547px,65px,false);bottom: 134px;text-align: center;font-weight: bold;}
	.txt3{font-size: 43px;@include center(547px,65px,false);bottom: 72px;text-align: center;margin-left: -255px;perspective:400px/*no*/;}
	.people{@include abImg("500px","705px","0","page2/people.png");@include center(500px,705px,false);top: 375px;}
	.bubble-bg1{@include abImg("113px","92px","2","page2/bubble1.png");left: 100px;top: 401px;font-size: 24px;text-align: center;line-height: 92px;}
	.bubble-bg2{@include abImg("93px","75px","2","page2/bubble2.png");right: 147px;top: 480px;font-size: 18px;text-align: center;line-height: 75px;}
	.bubble-bg3{@include abImg("90px","73px","2","page2/bubble3.png");left: 170px;top: 551px;font-size: 18px;text-align: center;line-height: 73px;}
	.bubble-bg4{@include abImg("172px","138px","2","page2/bubble4.png");right: 59px;top: 561px;font-size: 24px;text-align: center;line-height: 138px;}
	.bubble-bg5{@include abImg("149px","120px","2","page2/bubble5.png");left: 84px;top: 629px;font-size: 35px;text-align: center;line-height: 120px;}
}

.swiper3{width: 100%;height: 100%;color: #fff;
	.bg{width: 100%;height: 100%;@include bgImg("page3/bg.png");}
	.qiu{@include center(454px,572px,false);@include bgImg("page3/qiu.png");top:450px;margin-left: -210px;}
	.title{font-size: 47px;@include center(300px,61px,false);top: 236px;}
	.txt{font-size: 28px;@include center(451px,62px,false);top: 306px;text-align: center;}
	// .title1{@include center(300px,61px,false);}
	.titles{font-size: 40px;line-height: 40px;position: absolute;}
	.txts{font-size: 21px;line-height: 21px;font-size: 21px;position: absolute;line-height: 50px;
		p{padding-left: 22px;position: relative;
			.icon-sq{position: absolute;left: 0;top: 19px;}
			span{line-height: 9px;}
		}
	}
	.title1{right: 60px;top: 428px;}
	.txt1{right: 26px;top: 488px;}

	.title2{left: 375px;bottom: 175px;}
	.txt2{left: 361px;bottom: 58px;}

	.title3{left: 80px;bottom: 324px;}
	.txt3{left: 60px;bottom: 210px;}

	.title4{left: 64px;top: 428px;}
	.txt4{left: 35px;top: 488px;}
}

.swiper4,.swiper5,.swiper6{width: 100%;height: 100%;color: #fff;
	.bg{width: 100%;height: 100%;@include bgImg("page3/bg.png");}
	.title-box{font-size: 38px;line-height: 66px;text-align: center;@include center(371px,66px,false);@include bgImg("page4/titiebg4.png");top:184px;}
	.user-bg{@include bgImg("page4/user-bg.png");width: 233px;height: 245px;position: absolute;
		.des{top: 269px;position: absolute;text-align: center;font-size: 25px;width: 360px;left:-53.5px;
		}
		&:nth-child(5) > .des{top: 288px;}
		&:nth-child(6) > .des{top: 288px;}

		.txt{position: absolute;top: 53px;right: -40px;font-size: 30px;}
		.line-right{@include abImg("97px","36px","4","page4/line-right.png");right: -40px;top: 100px}
		.line-left{@include abImg("102px","53px","4","page4/line-left.png");left: -40px;top: 100px}
	}
	.user-bg1{right: 90px;top: 316px;
		.user-img{@include abImg("156px","231px","3","page4/user-img1.png");@include center(156px,231px);}
	}
	.user-bg2{right: 90px;bottom: 120px;
		.user-img{@include abImg("143px","228px","3","page4/user-img2.png");@include center(143px,228px);}
	}	
	.user-bg3{left: 90px;bottom: 120px;
		.user-img{@include abImg("143px","228px","3","page4/user-img3.png");@include center(143px,228px);}
		.txt{left: -60px;}
	}	
	.user-bg4{left: 90px;top: 318px;
		.user-img{@include abImg("143px","228px","3","page4/user-img4.png");@include center(143px,228px);}
		.txt{left: -40px;}
	}	
	.nav-center{@include abImg("185px","114px","3","page1/cloud-center.png");top: 670px;@include center(185px,114px,false);}

}

.swiper5{
	.bg{width: 100%;height: 100%;@include bgImg("page3/bg.png");}
	.user-bg1{
		.user-img{@include abImg("170px","219px","3","page5/user-img1.png");@include center(170px,219px);}
		.txt{right: -75px;}
	}
	.user-bg2{
		.user-img{@include abImg("165px","229px","3","page5/user-img2.png");@include center(165px,229px);}
	}
	.user-bg3{
		.user-img{@include abImg("170px","219px","3","page5/user-img3.png");@include center(170px,219px);margin-left: -110px;margin-top: -105px;}
	}
	.user-bg4{
		.user-img{@include abImg("153px","226px","3","page5/user-img4.png");@include center(153px,226px);}
	}
}

.swiper6{
	.bg{width: 100%;height: 100%;@include bgImg("page3/bg.png");}
	.user-bg1{
		.user-img{@include abImg("169px","216px","3","page6/user-img1.png");@include center(169px,216px);margin-left: -106px;margin-top: -114px}

	}
	.user-bg2{
		.user-img{@include abImg("158px","229px","3","page6/user-img2.png");@include center(158px,229px);margin-top: -120px;margin-left: -85px}
	}
	.user-bg3{
		.user-img{@include abImg("159px","232px","3","page6/user-img3.png");@include center(159px,232px);margin-left: -62px;margin-top: -115px}
		.txt{left: -70px;}
	}
	.user-bg4{
		.user-img{@include abImg("169px","216px","3","page6/user-img4.png");@include center(169px,216px);margin-left: -100px;margin-top: -105px}
	}
}

.swiper7{width: 100%;height: 100%;color: #fff;
	.bg{width: 100%;height: 100%;@include bgImg("page3/bg.png");}
	.title-bg{@include abImg("707px","67px","3","page7/title-bg.png");top: 229px;@include center(707px,67px,false);
		.title{@include abImg("433px","39px","3","page7/title.png");@include center(433px,39px);}
	}
	.des{width: 100%;text-align: center;font-size: 28px;line-height: 28px;top: 318px;position: absolute;z-index: 3;}
	.arc-bg{@include abImg("733px","734px","3","page7/arc-line.png");top: 371px;@include center(733px,734px,false);}
	.cloud{@include abImg("249px","199px","3","page7/clound.png");@include center(249px,199px);}
	.des-bg1{@include abImg("229px","74px","3","page7/btn-bg1.png");right: 39px;top: 154px;
		.txt{font-size: 26px;padding: 12px 20px;text-align: center;line-height: 30px;}
	}
	.des-bg2{@include abImg("236px","78px","3","page7/btn-bg2.png");right: 11px;top: 539px;
		.txt{font-size: 26px;text-align: center;line-height: 78px;}
	}	
	.des-bg3{@include abImg("235px","76px","3","page7/btn-bg3.png");left: 54px;top: 489px;
		.txt{font-size: 26px;text-align: center;line-height: 30px;padding: 10px 60px;}
	}		
	.des-bg4{@include abImg("240px","70px","3","page7/btn-bg4.png");left: 37px;top: 240px;
		.txt{font-size: 26px;text-align: center;line-height: 36px;padding: 0 0px;line-height: 70px;}
	}	
	.des-bg5{@include abImg("269px","106px","3","page7/btn-bg5.png");left: 85px;top: 32px;
		.txt{font-size: 26px;text-align: center;line-height: 36px;padding: 0 0px;line-height: 35px;padding: 22px 30px;}
	}
}
.swiper8{width: 100%;height: 100%;color: #fff;
	.bg{width: 100%;height: 100%;@include bgImg("page8/bg.png");}
	.btn1{@include abImg("580px","84px","3","page8/btn1.png");@include center(580px,84px,false);top: 270px;}
	.btn2{@include abImg("580px","84px","3","page8/btn2.png");@include center(580px,84px,false);top: 386px;}
	.btn3{@include abImg("580px","84px","3","page8/btn3.png");@include center(580px,84px,false);top: 496px;}
	.btn4{@include abImg("580px","84px","3","page8/btn4.png");@include center(580px,84px,false);top: 612px;}
	.btn-txt1{@include center(580px,84px,false);top: 290px;text-align: center;font-size: 34px;z-index: 4;}
	.btn-txt2{@include center(580px,84px,false);top: 406px;text-align: center;font-size: 34px;z-index: 4;}
	.btn-txt3{@include center(580px,84px,false);top: 516px;text-align: center;font-size: 34px;z-index: 4;}
	.btn-txt4{@include center(580px,84px,false);top: 632px;text-align: center;font-size: 34px;z-index: 4;}
	span{font-weight: bold;}
	.clound{@include abImg("145px","90px","3","page8/clound.png");@include center(145px,90px,false);top: 720px;}
	.price-bg{@include abImg("133px","44px","3","page8/price-bg.png");@include center(133px,44px,false);bottom: 280px;font-size: 30px;line-height: 44px;text-align: center;color: #ee484d;}
	.cn-txt{font-size: 32px;width: 100%;text-align: center;bottom: 40px;position: absolute;}
	.en-txt{font-size: 18px;width: 100%;text-align: center;bottom: 84px;position: absolute;letter-spacing: 36px;padding-left: 14px;}
	.gold{@include abImg("585px","287px","3","page8/gold.png");@include center(585px,283px,false);bottom: 190px;}
	.qrcode{@include abImg("165px","165px","3","page8/qrcode.png");@include center(165px,165px,false);bottom: 95px;}
}


.fade{animation: fade 600ms 0ms 1 both;}
.musicRotate{animation: musicRotate 3s 0s linear infinite;}
.logoFade{animation: fade 600ms 600ms 1 both;}
.zoomIn{animation: zoomIn 600ms 800ms 1 both;}
.fadeInUp{animation: fadeInUp 600ms 600ms 1 both;}
.fadeIntopRight{animation: fadeIntopUp 600ms 700ms 1 both;}
.cloundScale{animation: zoomIn 600ms 1000ms 1 both;}

.fadeInRight{animation: fadeInRight 600ms 1100ms 1 both;}
.fadeInUp{animation: fadeInUp 600ms 1200ms 1 both;}
.fadeInUp2{animation: fadeInUp 600ms 1300ms 1 both;}
.fadeInLeft{animation: fadeInLeft 600ms 1400ms 1 both;}
.fadeInDown{animation: fadeInDown 600ms 1500ms 1 both;}

.nav-anbg1{animation: zoomIn 600ms 1700ms 1 both;}
.nav-anbg2{animation: zoomIn 600ms 1800ms 1 both;}
.nav-anbg3{animation: zoomIn 600ms 1900ms 1 both;}
.nav-anbg4{animation: zoomIn 600ms 2000ms 1 both;}
.nav-anbg5{animation: zoomIn 600ms 2100ms 1 both;}

.siderUp{animation: siderUp 600ms 2300ms 1 both;}
.siderUp2{animation: siderUp 600ms 2600ms 1 both;}


//音乐旋转
@keyframes musicRotate{
	0% {
	    transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

//显示
@keyframes fade{
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}

@keyframes zoomIn{
	0% {
	    opacity: 0;
	    -webkit-transform: scale3d(.3,.3,.3);
	    transform: scale3d(.3,.3,.3);
	}
	50% {
	    opacity: 1;
	}
	100% {
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes zoomIn2{
	0% {
	    opacity: 0;
	    -webkit-transform: scale3d(.3,.3,.3) rotate(-360deg);
	    transform: scale3d(.3,.3,.3) rotate(-360deg);
	}
	20%{
		
	}
	50% {
	    opacity: 1;
	}
	100% {
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes fadeIntopUp{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0,100%,0);
	    transform: translate3d(0,100%,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes fadeInUp{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0,50%,0);
	    transform: translate3d(0,50%,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes fadeInRight{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(50%,0,0);
	    transform: translate3d(50%,0,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes fadeInLeft{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(-50%,0,0);
	    transform: translate3d(-50%,0,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes fadeInDown{
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0,-50%,0);
	    transform: translate3d(0,-50%,0);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

@keyframes siderUp{
	0%, 60%, 75%, 90%, 100% {
	    -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
	    animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0,100%,0);
	    transform: translate3d(0,100%,0);
	}
	60% {
	    opacity: 1;
	    -webkit-transform: translate3d(0,-20px,0);
	    transform: translate3d(0,-20px,0);
	}
	75% {
	    -webkit-transform: translate3d(0,10px,0);
	    transform: translate3d(0,10px,0);
	}
	90% {
	    -webkit-transform: translate3d(0,-5px,0);
	    transform: translate3d(0,-5px,0);
	}
	100% {
	    -webkit-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
}

@keyframes sliderNextPage{
	0% {
	    -webkit-transform: translateY(-26px);/*no*/
	    opacity: 1;
	}
	100% {
	    -webkit-transform: translateY(-56px);/*no*/
	    opacity: 0;
	}
}