include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/select.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/jquery.mCustomScrollbar.min.css?v=1.1',type='text/css',rel='stylesheet')

        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.mCustomScrollbar.concat.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.select.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        .main.login
            .form-title.big 綁定谷歌驗證
            .form-typesMore-end
                ul
                    li  
                        span 掃描二維碼
                            label 2
                    li  
                        span 備份密鑰
                            label 3
                    li.active
                        span 開啟谷歌驗證
                            label 4                            
            .form
                .form-ipone.form-box
                    .form-group.line-blue
                        label 登錄密碼
                        .type-box
                            input(type="password" placeholder='请输入驗證碼')
                    .form-group.line-blue
                        label 驗證方式 
                            span.email-text 11********@hotmail.com

                        .type-box
                            input(type="text" placeholder='请输入驗證碼')
                            .code 獲取驗證碼              
                .form-ipone.form-box
                    .form-group.line-blue
                        label 谷歌驗證碼
                        .type-box
                            input(type="password" placeholder='请输入驗證碼')

                    a(href="safe-setting.html").btn-submit 綁定谷歌驗證
