include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/select.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/jquery.mCustomScrollbar.min.css?v=1.1',type='text/css',rel='stylesheet')

        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.mCustomScrollbar.concat.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.select.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        .main.login
            .form-title.big 交易密碼設置
            .form-type
                ul.clearfix
                    li.active  
                        span 驗證郵箱
                            label 1
                    li 
                        span 交易密碼設置
                            label 2
            .form
                .form-ipone.form-box
                    .form-group.line-blue
                        label 郵箱
                        .type-box
                            input(type="text" placeholder='请输入郵箱')
                    .form-group.line-blue
                        label 驗證碼 
                        .type-box
                            input(type="text" placeholder='请输入驗證碼')
                            .code 獲取驗證碼
                    a(href="bind-pay-password-new.html").btn-submit 下一步
