include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/select.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/jquery.mCustomScrollbar.min.css?v=1.1',type='text/css',rel='stylesheet')

        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.mCustomScrollbar.concat.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.select.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        .main.login
            .form-title.big 修改登陸密碼
            .form-type
                ul.clearfix
                    li  
                        span 驗證郵箱
                            label 1
                    li.active 
                        span 設置新登錄密碼
                            label 2

            .form
                .form-ipone.form-box
                    .form-group.line-blue.error
                        label 原密碼
                        .type-box
                            input(type="passWord" placeholder='请输入' value='111111')
                        span.tips 原密碼錯誤
                    .form-group.line-blue
                        label 新密碼
                        .type-box
                            input(type="passWord" placeholder='请输入' value='111111')
                    .form-group.line-blue
                        label 確認新密碼
                        .type-box
                            input(type="passWord" placeholder='请输入' value='111111')

                    a.btn-submit 确认提交
                    .form-textTips
                        | 為了您的資產安全，登錄密碼修改後24小時內不可提幣！