include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/select.css?v=1.1',type='text/css',rel='stylesheet')
        link(href='./res/styles/jquery.mCustomScrollbar.min.css?v=1.1',type='text/css',rel='stylesheet')

        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.mCustomScrollbar.concat.min.js")
        script(type="text/javascript",src="./res/scripts/jquery.select.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        +header(false)
        .main 
            .log-listBox.border-ra
                .head
                    .title 提幣
                    .num.top  5.32052298ETH
                .content
                    .title 手續費0
                    .num 2018-12-19 03:17:53
            .log-text 地址：XXXXXXXXXXXXXX
            .log-text TxID：XXXXXXXXXXXXXX
            .log-listBox
                .head
                    .title 提幣
                    .num.top  5.32052298ETH
                .content
                    .title 手續費0
                    .num 2018-12-19 03:17:53
            .log-listBox
                .head
                    .title 提幣
                    .num.top  5.32052298ETH
                .content
                    .title 手續費0
                    .num 2018-12-19 03:17:53