include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        .header
            span.title 邀请好友
        .main
            .my-friend
                .tips
                    span  邀请好友 20
                .item-listBox
                    .title 我的專屬ID
                    .desc.oneLine 538DI4UP
                    .btn.btn-blue 複製
                .item-listBox
                    .title 我的專屬鏈接
                    .desc.oneLine www.chaoex.info/regis...
                    .btn.btn-blue 複製
                .swiper-boxs
                    .title 專屬邀請海報
                    .more-swiper
                        .swiper-container
                            .swiper-wrapper
                                -for(var i=0;i<5;i++)
                                    -if(i==1)
                                        .swiper-slide.active #{i}
                                            label.check-box
                                                input(type="checkbox")
                                                i
                                    -else 
                                        .swiper-slide #{i}
                                            label.check-box
                                                input(type="checkbox")
                                                i

                    .desc 挑選海報 下載發送給好友
                        .btn.btn-blue 下载
                .center-title.line-blue 邀请记录
                .content-box
                    .content-box.line-blue
                        .list
                            .title 被邀請人UID
                            .desc 18327741
                        .list
                            .title 註冊日期
                            .desc 2018.12.19 22:42:36
                        .list
                            .title 註冊途徑
                            .desc 手机注册
                    .content-box.line-blue
                        .list
                            .title 登錄時間
                            .desc 2018.12.19 22:42:36
                        .list
                            .title IP 地址
                            .desc 183.277.145.41
                        .list
                            .title 登錄所在地
                            .desc Guangzhou,Guangdong,China


                