include ../public/public.pug

html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title CHAOEX
        link(href='./res/styles/main.css?v=1.1',type='text/css',rel='stylesheet')
        script(type="text/javascript",src="./res/scripts/rem.js")
        script(type="text/javascript",src="./res/scripts/jquery.min.js")
        script(type="text/javascript",src="./res/scripts/swiper.min.js")
        script(type="text/javascript",src="./res/scripts/main.js")
        //- script(type="text/javascript",src="./res/scripts/layer/mobile/layer.js")
        - let imgUrl="./res/images/";
    body
        .header
            .seach-box
                .seach-text
                    input(type="text" )
                    i.icon-seach
                .btn 搜索
        .main
            .nav-meunBox
                .content-box
                    .nav-meun.line-blue.clearfix
                        ul
                            li 
                                span 公告
                            li.active 
                                span FAQ
            .notice-content
                .notice-item.faq
                        .notice-box 
                            .title 
                                span 交易指南
                                i.icon-back
                            .desc 
                                .notice-sonList.line-blue 交易流程
                                .notice-sonList 交易流程
                        .notice-box 
                            .title 
                                span 注册流程
                                i.icon-back
                            .desc 
                                .notice-sonList.line-blue 邮箱注册
                                .notice-sonList 手機註冊                       
                        .notice-box 
                            .title 
                                span 充值提現
                                i.icon-back
                            .desc 
                                .notice-sonList.line-blue 提幣流程
                                .notice-sonList.line-blue 充幣流程
                                .notice-sonList.line-blue 充/提幣未到帳如何處理？
                                .notice-sonList 充/提幣時地址錯誤如何處理？
                        .btn.btn-border 更多问题
                .notice-item.not
                    .notice-box 
                        .title 
                            span 新幣上線
                            span.text 查看所有29篇文章
                            i.icon-back
                        .desc 
                            .notice-sonList.line-blue 關於CHAOEX上線PGN/USDT的公告
                            - for(var i=0;i<5;i++)
                                - if(i==4)
                                    .notice-sonList 關於CHAOEX上線ZEC/BTC、ZEC/ETH、ZEC...                
                                - else 
                                    .notice-sonList.line-blue 關於CHAOEX上線ZEC/BTC、ZEC/ETH、ZEC...                
                    .notice-box 
                        .title 
                            span 重要公告
                            span.text 查看所有29篇文章
                            i.icon-back
                        .desc 
                            .notice-sonList.icon-notice.line-blue 關於CHAOEX上線PGN/USDT的公告
                            - for(var i=0;i<5;i++)
                                - if(i==4)
                                    .notice-sonList 關於CHAOEX上線ZEC/BTC、ZEC/ETH、ZEC...                
                                - else 
                                    .notice-sonList.line-blue 關於CHAOEX上線ZEC/BTC、ZEC/ETH、ZEC...                
                        .btn.btn-border 历史公告
