html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title PRODUCTNAME
		link(href='css/main.min.css?v=1.1',type='text/css',rel='stylesheet')
		script(type="text/javascript",src="js/fiex.js")

	body
		//- audio(src="images/bg.mp3",id="bg",preload="load")
		.wrapper
			.musicbox
				.music-bg
			.loading
				.loadbox
					.logo
					span
			.swiper-container
				.swiper-wrapper
					.swiper-slide.swiper1
						.bg
						.light
						.logo
						.top-des
						.title
						.cn-des
						.en-des
						.navlist.nav-bg1
							.nav
						.navlist.nav-bg2
							.nav
						.navlist.nav-bg3
							.nav
						.navlist.nav-bg4
							.nav
						.navlist.nav-bg5
							.nav
						.nav-center
						.btn-box
							.btn-txt
					.swiper-slide.swiper2
						.bg
						.logo
						.people
						.title
							span 您
							|也遇到过以下烦恼吗？
						.txt-box
							.txt
								|想要整理近来的工作成果，
								br
								|文件太多太分散，
								br
								|找起来太难太心累！
						.title2 敢不敢，换一种高效的工作方式？
						.txt2-div
							.txt2 天翼企业云盘
							.txt3 就是你要的答案！
						.bubble-bg1
							span 邮件附件
						.bubble-bg2
							span FTP储存
						.bubble-bg3
							span 云端储存
						.bubble-bg4
							span 员工电脑
						.bubble-bg5
							span U盘
					.swiper-slide.swiper3
						.bg
						.logo
						.qiu
						.title 四大优势功能
						.txt 让文件高效易用 让管理轻松专业

						.title1.titles 极速传输
						.txt1.txts
							p 跨区域文件就近传输
								i.icon-sq
							p 支持大文件秒传
								i.icon-sq
						.title2.titles 团队协作
						.txt2.txts
							p 实时微信消息提醒
								i.icon-sq
							p 多终端实时同步
								i.icon-sq
						.title3.titles 文档管理
						.txt3.txts
							p 文档统一存储
								i.icon-sq
							p 支持多端在线预览
								i.icon-sq
						.title4.titles 安全存储
						.txt4.txts
							p 多重备份，碎片化存储
								i.icon-sq
							p 网银级数据安全
								br
								span 保障技术
								i.icon-sq

					.swiper-slide.swiper5
						.bg
						.logo
						.title-box
							span 企业人员
						.user-bg.user-bg1
							.user-img
							.line-right
							.txt IT管理员

							.des 批量添加公司成员
								br
								| 根据需求分配角色权限
						.user-bg.user-bg2
							.user-img
							.line-right
							.txt 行政
							.des 数万份资料归档留存
								br
								| 轻松查找
						.user-bg.user-bg3
							.user-img
							.line-left
							.txt 高管
							.des 在线编辑，在线修改/批复文件
								br
								| 自动保存至云端
						.user-bg.user-bg4
							.user-img
							.line-left
							.txt 销售
							.des 云端预览ppt
								br
								| 拜访客户也无需携带电脑
						.nav-center
					.swiper-slide.swiper4
						.bg
						.logo
						.title-box
							span 专业人才
						.user-bg.user-bg1
							.user-img
							.line-right
							.txt 律师

							.des 客户资料分类管理
								br
								| 文件安全共享
								br
								| 高效回复客户咨询
						.user-bg.user-bg2
							.user-img
							.line-right
							.txt 老师
							.des 办公室云端备课
								br
								| 课堂在线授课
						.user-bg.user-bg3
							.user-img
							.line-left
							.txt 项目经理
							.des 按项目建立共享文件夹
								br
								| 实现组内分享文件
						.user-bg.user-bg4
							.user-img
							.line-left
							.txt 工程师
							.des 多格式文件在线预览
								br
								| 无需下载
						.nav-center

					.swiper-slide.swiper6
						.bg
						.logo
						.title-box
							span 自由职业
						.user-bg.user-bg1
							.user-img
							.line-right
							.txt 设计师

							.des 高清素材云端储存
								br
								| 海量资料分类保存
								br
								| 多种格式预览
						.user-bg.user-bg2
							.user-img
							.line-right
							.txt 顾问
							.des 资料随时调阅
								br
								| 快速响应客户
						.user-bg.user-bg3
							.user-img
							.line-left
							.txt 私营业主
							.des 随时随地文件在手
								br
								| 多端实时同步
						.user-bg.user-bg4
							.user-img
							.line-left
							.txt 中介
							.des 产品介绍、客户案例、数据资料
								br
								| 海量数据储存，实时在线预览
						.nav-center
					.swiper-slide.swiper7
						.bg
						.logo
						.title-bg
							.title
						.des 运营商级保障，您放心
						.arc-bg
							.cloud
							.des-bg1
								.txt 网银级数据安全保障技术
							.des-bg2
								.txt 多节点、异地灾备
							.des-bg3
								.txt 沙箱数据隔离保护
							.des-bg4
								.txt 数据分布式储存
							.des-bg5
								.txt 采用中国电信特有免密登录技术
					.swiper-slide.swiper8
						.bg
						.logo
						.btn1
						.btn2
						.btn3
						.btn4
						.btn-txt1  
							span 19元/月
							| =10个用户+200G空间
						.btn-txt2  
							span 99元/月
							| =20个用户+1TB空间
						.btn-txt3  
							span 199元/月
							| =50个用户+2TB空间
						.btn-txt4  
							span 599元/月
							| =100个用户+5TB空间
						.clound
						.gold
						.price-bg 资费
						.qrcode
							img(src="./images/page8/qrcode.png")
						.cn-txt 扫描二维码联系您的业务经理
						//- .en-txt CHARGES
			.touch-top
		script(type="text/javascript",src="js/jquery.min.js")
		script(type="text/javascript",src="js/swiper.min.js")
		script(type="text/javascript",src="js/TweenMax.min1.16.1.js")
		script(type="text/javascript",src="js/SplitText.min.js")
		script(type="text/javascript",src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
		script(type="text/javascript",src="js/createjs-2015.11.26.min.js")

		script(type="text/javascript",src="js/share.js")
		script(type="text/javascript",src="js/loading.js")
		script(type="text/javascript",src="js/main.js?v=2.1")
